body{
    background-image: url("img/polymagnet.png");
    background-size: 100%;
}
#Calculator {
    box-shadow: 2px 2px 10px 1px black;
    font-family: Arial,Verdana,Sans-serif;
    transition: all 0.5s;
    background-color: rgb(92, 114, 128);
    border: 1px solid black;
    width: 320px;
    height: 450px;
    margin: 5%;
}
#error {
    box-shadow: 2px 2px 10px 1px black;
    line-height: 30px;
    border-radius: 5px;
    display: inline-block;
    width: 150px;
    height: 30px;
    background: red;
    font-size: 20px;
    text-align: center;
    color: white;
    transform: translate(30px,-20px);
    opacity: 0;
    transition: all 1s;
}
#calculate-area{
    display: inline-block;
    transform: translate(0px,-30px);
    width: 320px;
    height: 430px;
}
#top-box {
    border-style: none;
    width: 320px;
    height: 175px;
}

#history {
    color: white;
    text-align: right;
    line-height: 50px;
    word-wrap: break-word;
    width: 320px;
    height: 60px;
    font-size: 20px;
}

#output {
    color: white;
    overflow: auto;
    width: 320px;
    height: 50px;
    text-align: right;
    font-size: 30px;
    vertical-align: bottom;
}
#historyclick {
    height: 30px;
    transform: translate(243px,5px);
}
#history-area {
    box-shadow: 2px 1px 0px 0px black;
    transform: translate(0px,-270px);
    margin: 0px;
    color: white;
    background-color: rgb(128, 115, 104);
    display: inline-block;
    transition: all 0.3s;
    overflow: auto;
    text-align: right;
    height: 275px;
    width: 0px;
    z-index: 0px;
}
#history-bar{
    height: 10px;
    background-color: white;
}
#button-area {
    transition: all 0.1s;
    height: 270px;
    width: 320px;
    opacity: 1;
}
button {
    font-weight: bold;
    border-width: 1px;
    margin: 2px;
    width: 72px;
    height: 50px;
    font-size: 15px;
}
span {
    color: white;
} 

.number_button{
    transition: all 0.5s;
    background-color: white;
}

.number_button:hover
{
    background-color: rgb(92, 114, 128);
    color: white;
}
.operator_button{
    transition: all 0.5s;
}

.operator_button:hover
{
    background-color:  rgb(92, 114, 128);
    color: white;
}